<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NumericValueToWordSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49466/WebService/NumericValueToWord.asmx"
                binding="basicHttpBinding" bindingConfiguration="NumericValueToWordSoap"
                contract="ServiceReference.NumericValueToWordSoap" name="NumericValueToWordSoap" />
        </client>
    </system.serviceModel>
</configuration>